*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #12c2e9,#c471ed,#f64f59);
    padding: 10px;
    
}

.todo-app{
    margin-top: 50px;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: auto;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.todo-app h2{
    color: #002756;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 30px;
    margin-left: 15px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
   background: transparent;
   padding: 10px;   
   font-weight: 14px;


}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 60px;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;


}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: contain;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(To-Do-Img/images/checked.png);

}

ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    

}
ul li span:hover{
    background: #edeef5;
}